.idea/
.vscode/
__pycache__/
venv/

*.DS_Store

# log
log/

# data
data/*.json

#building: 
installer/
certificate/

# pyinstaller 
# temporary building files:
build/    
dist/

# local chromium
/tools/local-chromium/
